ul {
    list-style-type: none;
    font-size:17px;
    padding: 30px;
    float:right;
    margin-right:20px;
    margin-top:-10px;
 
  }
  h1,h3 { 
    color:white;
    font-family: 'Assistant', sans-serif;
    font-weight:bold;
   }
   
  body {
      background-color:rgb(31, 29, 29);
      margin:0;
  }
  .navbar1 {
      width:100%;
      height:70px;
      background-color:#7DFFEF;
      position: fixed;
      top: 0;
      z-index:999;
    
  }
  .footer {
    width:100%;
    height:50px;
    border-bottom:solid white;
    background-color:#7DFFEF;
    border-bottom:solid 5px;
    margin-top:80px;
   
  }
  
  
  li {
    display: inline;
    margin:10px;
    font-weight:500;
    
   
  }
 
  .navbar1 a{
    font-size:15px;
      color:black;
      letter-spacing:0.5px;
      position:relative;
      font-family: 'Raleway', sans-serif;
      font-weight:bold;
       
  }
  .navbar1 a:hover {
    text-decoration: none;
  }
  
  .navbar1 .tgl::after {
    content: '';
    width:100%; 
    height:0.175rem;
    left : 0;
    bottom:-5px;
    border-bottom: solid yellow 3px;
    position:absolute;
    transform:scale(0,1);
    transition:0.3s ease;
    text-decoration: none;
  }
  .hv::after {
    content: '';
    width:100%; 
    height:0.175rem;
    left : 0;
    bottom:-5px;
    border-bottom: solid yellow 3px;
    position:absolute;
    transform:scale(0,1);
    transition:0.3s ease;
    
  }
  .hv:hover::after {
    transform: scale(1,1);

  }
  
  .tgl:hover::after {
    transform: scale(1,1);
  }
  
 
  .container {
      margin-top:17%;
      margin-right:200px;
  }
  
  .container h1,h5 {
      color:white;
     font-family: 'Raleway', sans-serif;
  }
  section .intro {
      margin-left:125px;

  }
  .abt {
      width:100px;
      height:40px;
      margin-top:20px;
      background-color:#7DFFEF;
      font-weight:bold;
      font-family: 'Assistant', sans-serif;
      border-radius: 15px;
  }
  .container .photo {
      margin-left:60%;
      margin-top:-37.5%;
     
  }
  .about-me{
      margin-right:140px;
  }
  .about-me p{
      color:white;
      margin-left:40%;
      font-family: 'Assistant', sans-serif;
    font-size:20px;
    
  }
  .my_projects p {
    margin-top:50px;
    color:white;
    margin-left:25%;
  font-family: 'Assistant', sans-serif;
  font-size:20px;
  
}
  .about-me .cp {
      margin-top:-300px;
     margin-left:160px;
  }
  .about-me .bttn {
      margin-left:40%;
      padding-top:15px;
      
  }
  .about-me .cp1{
      margin-top:-395px;
      margin-left:185px;
  }
  .about-me .imgcnt {
      margin-top:-23%;
  }
  .about-me p {
    font-family: 'Assistant', sans-serif;
  }
  .about-me h1 {
      color:white;
      margin-bottom:5%;
      font-family: 'Assistant', sans-serif;
      padding-top:-10px;
      display:inline-block;
      margin-left:40%;
  }
  .crsl {
      width:20%;
     
    
  }
  .navbar1 .logo {
      margin-left:30px;
      padding-top:10px;
     
  }
  .fa{
    padding: 10px;
    font-size: 15px;
    width: 30px;
    text-align:center;
    text-decoration: none;
    color:black;
    background-color:#7DFFEF;
    border-radius:50%;
    margin-left:15px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .socmed a:hover {
     text-decoration:none;
  }
  .socmed {
    margin-top:15px;
    margin-left:11%;
  }
  .container .socmed {
    padding-top:20px;
  }
  .skills p{
    color:white;
    margin-left:250px;
    font-family: 'Assistant', sans-serif;
    font-size:20px;
    margin-top:50px;

  }
  .skills .php {
    margin-bottom:30px;
    border-radius:5px;
    width:150px;
    height:8px;
    background-color:#7DFFEF;
    animation: php 1.5s;
  }
  .skills .java {
    margin-bottom:30px;
    border-radius:5px;
    width:135px;
    height:8px;
    background-color:#7DFFEF;
    animation: java 1.5s;
  }
  .skills .js {
    margin-bottom:30px;
    border-radius:5px;
    width:140px;
    height:8px;
    background-color:#7DFFEF;
    animation: js 1.5s;
  }
  .skills .html1 {
    margin-bottom:30px;
    border-radius:5px;
    width:130px;
    height:8px;
    background-color:#7DFFEF;
    animation: html1 1.5s;
  }
  .skills .python {
    margin-bottom:30px;
    border-radius:5px;
    width:130px;
    height:8px;
    background-color:#7DFFEF;
    animation: python 1.5s;
  }
  .skills .mysql {
    margin-bottom:30px;
    border-radius:5px;
    width:140px;
    height:8px;
    background-color:#7DFFEF;
    animation: mysql 1.5s;
  }
  .skills .bar{
    border-radius:5px;
    width:250px;
    background-color:black;
    box-shadow:2px 2px;
  }
  .skills .skillbar {
   margin-left:250px;
   margin-top:50px;
    
  }
 span {
    color:white;
 }
 
 .communication {
    margin-left:20px;
    position:relative;
    height:100px;
    width:100px;
    border-radius: 50%;
    background:conic-gradient(#7DFFEF 216deg, black 0deg);
    display:flex;
    align-items: center;
    justify-content: center;
 }
 .comm {
    content:"";
    position:absolute;
    height:85px;
    width:85px;
    border-radius:50%;
    background-color:rgb(31, 29, 29);
 }
 .teamwork {
    margin-left:20px;
    position:relative;
    height:100px;
    width:100px;
    border-radius: 50%;
    box-shadow:2px 2px;
    background:conic-gradient(#7DFFEF 216deg, black 0deg);
    display:flex;
    align-items: center;
    justify-content: center;
 }
 .logical {
    margin-left:20px;
    position:relative;
    height:100px;
    width:100px;
    border-radius: 50%;
    box-shadow:2px 2px;
    background:conic-gradient(#7DFFEF 216deg, black 0deg);
    display:flex;
    align-items: center;
    justify-content: center;
 }
 .adaptability {
    margin-left:20px;
    position:relative;
    height:100px;
    width:100px;
    border-radius: 50%;
    box-shadow:2px 2px;
    background:conic-gradient(#7DFFEF 216deg, black 0deg);
    display:flex;
    align-items: center;
    justify-content: center;
 }
.container1 {
    margin-top:50px;
    margin-left:220px;
}
.percent {
    margin-left:8px;
    position:absolute;

}
.box {
    margin-top:30px;
    width:300px;
    height:300px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    margin-left:30px;
    
   
    

}
.box-cards { 
    display:flex;
    align-items: center;
    justify-content: center;
   overflow: hidden;
}

.box h3{
    color:black;
    font-size:20px;
    text-align: center;
    font-weight:600;

}
.box span {
    font-family: 'Assistant', sans-serif;
    font-size:14px;
    color:black;
   margin-top:30px;
  
}
.sp {
    margin-left:10px;
    margin-top:30px;
    
}
.browse {
    margin-bottom:100px;
}
.contact h3 {
  color:white;
    margin-left:260px;
    font-family: 'Assistant', sans-serif;
    font-size:22px;
    margin-top:30px;
}
 .info {
  margin-top:50px;
  opacity:0;
 position:absolute;
  
  width:300px;
  height:300px;
  background-color:rgba(0,0,0,0.8);
  margin-top:-21%;
  border-radius:10px;
 }
.info span,.info h3,.info .hv{
  position:absolute;
  color:white;
  margin-top:50px;

}
.info .hv {
 margin-top:120px;
  margin-left:80px;
  
}
.info span {
  margin-top:60px;
  text-align: center;
}
.info h3 {
  text-align: center;
  margin-left:75px;
  
}

.info:hover {
  opacity:1;
  border-bottom:solid #7DFFEF 3px;
  border-left:solid #7DFFEF 3px;
    
}
.yd::after {
  content: '';
  width:50%; 
  height:0.175rem;
  left : 0;
  bottom:-5px;
  border-bottom: solid yellow 3px;
  position:absolute;
 
  
}
.college {
  
  margin-left:25%;
}
.year {
 
  margin-left:150px;
  width:35%;
  height:200px;
  
}
.year span {
  margin-left:20px;
  margin-top:-130px;
 position:absolute;
  color:white;
  font-family: 'Assistant', sans-serif;

  font-size:20px;
  
}
.information p{
  font-size:15px;
  margin-top:-130px;
  margin-left:24.7%;
  position:absolute;
  color:white;
  float:left;
  font-family: 'Assistant', sans-serif;
}